In [1]:
import pandas as pd
import numpy as np
import math
states = pd.read_csv('states_all.csv')

In [2]:
statelist=states['STATE'].unique()
indexlist=list()
for x in statelist:
    for i in range(0,len(states[states['STATE'] ==x])):
        indexlist.append(i)

Öncelikle datasetindeki matematiksel boşlukları aşağıdaki formullerle dolduruyoruz.

    states.GRADES_ALL=states.GRADES_PK+states.GRADES_1_8+states.GRADES_9_12
    states.TOTAL_REVENUE=states.FEDERAL_REVENUE+states.STATE_REVENUE+states.LOCAL_REVENUE
    states.TOTAL_EXPENDITURE=states.INSTRUCTION_EXPENDITURE+states.SUPPORT_SERVICES_EXPENDITURE+states.OTHER_EXPENDITURE+states.CAPITAL_OUTLAY_EXPENDITURE

In [3]:
for i in range(0, len(states)):
    if pd.isnull(states.OTHER_EXPENDITURE[i]):
        if (pd.notnull(states.TOTAL_EXPENDITURE[i])and pd.notnull(states.INSTRUCTION_EXPENDITURE[i])and pd.notnull(states.SUPPORT_SERVICES_EXPENDITURE[i])):
            states.OTHER_EXPENDITURE[i]=states.TOTAL_EXPENDITURE[i]-states.INSTRUCTION_EXPENDITURE[i]-states.SUPPORT_SERVICES_EXPENDITURE[i]

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [4]:
count1=0
for i in range(0, len(states)):
    if (pd.notnull(states.CAPITAL_OUTLAY_EXPENDITURE[i]) and pd.notnull(states.OTHER_EXPENDITURE[i]) and pd.notnull(states.TOTAL_EXPENDITURE[i])and pd.notnull(states.INSTRUCTION_EXPENDITURE[i])and pd.notnull(states.SUPPORT_SERVICES_EXPENDITURE[i])):
        count1+=1
count1
#count1 sayısı df.info dakıyle aynı, yanı matematıksel bos alanımız yok

1280

In [5]:
for i in range(0, len(states)):
    if pd.isnull(states.GRADES_ALL_G[i]):
        if (pd.notnull(states.GRADES_9_12_G[i])and pd.notnull(states.GRADES_1_8_G[i])and pd.notnull(states.GRADES_PK_G[i])):
            states.GRADES_ALL_G[i]=states.GRADES_9_12_G[i]+states.GRADES_1_8_G[i]+states.GRADES_PK_G[i]

In [6]:
statelist=states['STATE'].unique()
indexlist=list()
for x in statelist:
    for i in range(0,len(states[states['STATE'] ==x])):
        indexlist.append(i)

In [7]:
states.sort_values(by=['STATE'],inplace=True)
statelist=states['STATE'].unique()
indexlist=list()
for x in statelist:
    #print(len(states[states['STATE'] ==x]),x)
    for i in range(0,len(states[states['STATE'] ==x])):
        indexlist.append(i)

In [8]:
states['indexlist']=indexlist
states.set_index(['STATE', 'indexlist'], inplace=True)
states.head()

                    PRIMARY_KEY  YEAR    ENROLL  TOTAL_REVENUE  \
STATE   indexlist
ALABAMA 0          1992_ALABAMA  1992       NaN      2678885.0
        1          1994_ALABAMA  1994  730004.0      2970223.0
        2          1995_ALABAMA  1995  727480.0      3367437.0
        3          1996_ALABAMA  1996  735912.0      3365113.0
        4          1997_ALABAMA  1997  737386.0      3981788.0

                   FEDERAL_REVENUE  STATE_REVENUE  LOCAL_REVENUE  \
STATE   indexlist
ALABAMA 0                 304177.0      1659028.0       715680.0
        1                 331823.0      1850894.0       787506.0
        2                 328957.0      2161366.0       877114.0
        3                 334858.0      2138717.0       891538.0
        4                 376200.0      2498847.0      1106741.0

                   TOTAL_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
STATE   indexlist
ALABAMA 0                  2653798.0                1481703.0
        1                  3103266.0                1697593.0
        2                  3353363.0                1851700.0
        3                  3572283.0                1987018.0
        4                  3963624.0                2095904.0

                   SUPPORT_SERVICES_EXPENDITURE         ...           \
STATE   indexlist                                       ...
ALABAMA 0                              735036.0         ...
        1                              826442.0         ...
        2                              888983.0         ...
        3                              935115.0         ...
        4                             1075352.0         ...

                   GRADES_4_G  GRADES_8_G  GRADES_12_G  GRADES_1_8_G  \
STATE   indexlist
ALABAMA 0             57948.0     58025.0      41167.0      471564.0
        1             56773.0     59165.0      41730.0      468472.0
        2             56486.0     59914.0      40981.0      470246.0
        3             57098.0     58305.0      42510.0      469370.0
        4             57431.0     58210.0      44272.0      472847.0

                   GRADES_9_12_G  GRADES_ALL_G  AVG_MATH_4_SCORE  \
STATE   indexlist
ALABAMA 0               196386.0      676174.0        208.327876
        1               201285.0      678808.0               NaN
        2               206840.0      686410.0               NaN
        3               207980.0      686983.0        211.646974
        4               208148.0      690881.0               NaN

                   AVG_MATH_8_SCORE  AVG_READING_4_SCORE  AVG_READING_8_SCORE
STATE   indexlist
ALABAMA 0                252.187522           207.963517                  NaN
        1                       NaN                  NaN                  NaN
        2                       NaN                  NaN                  NaN
        3                256.594863           210.920767           260.276441
        4                       NaN                  NaN                  NaN

[5 rows x 24 columns]

In [9]:
states2=states
statelist1=statelist
for x in statelist1:
    if (states2.loc[x]['AVG_MATH_8_SCORE'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        for i in range(0,len(states2.loc[x])):
            if states2.loc[x]['AVG_MATH_8_SCORE'].isnull()[i]:
                states2 = states2.drop([(x, i)], axis=0)
    else:
        states2=states2.loc[x]["AVG_MATH_8_SCORE"].fillna(states2.loc[x]["AVG_MATH_8_SCORE"].mean(), inplace=True)

In [10]:
states2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 532 entries, (ALABAMA, 0) to (WYOMING, 25)
Data columns (total 24 columns):
PRIMARY_KEY                     532 non-null object
YEAR                            532 non-null int64
ENROLL                          439 non-null float64
TOTAL_REVENUE                   481 non-null float64
FEDERAL_REVENUE                 481 non-null float64
STATE_REVENUE                   481 non-null float64
LOCAL_REVENUE                   481 non-null float64
TOTAL_EXPENDITURE               481 non-null float64
INSTRUCTION_EXPENDITURE         481 non-null float64
SUPPORT_SERVICES_EXPENDITURE    481 non-null float64
OTHER_EXPENDITURE               481 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      481 non-null float64
GRADES_PK_G                     476 non-null float64
GRADES_KG_G                     481 non-null float64
GRADES_4_G                      481 non-null float64
GRADES_8_G                      481 non-null float64
GRADES_12_G                     481 non-null float64
GRADES_1_8_G                    481 non-null float64
GRADES_9_12_G                   481 non-null float64
GRADES_ALL_G                    476 non-null float64
AVG_MATH_4_SCORE                532 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             522 non-null float64
AVG_READING_8_SCORE             478 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 104.2+ KB

In [11]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['GRADES_PK_G'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["GRADES_PK_G"].fillna(states2.loc[x]["GRADES_PK_G"].mean(), inplace=True)

C:\Users\Administrator\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [12]:
states2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 532 entries, (ALABAMA, 0) to (WYOMING, 25)
Data columns (total 24 columns):
PRIMARY_KEY                     532 non-null object
YEAR                            532 non-null int64
ENROLL                          439 non-null float64
TOTAL_REVENUE                   481 non-null float64
FEDERAL_REVENUE                 481 non-null float64
STATE_REVENUE                   481 non-null float64
LOCAL_REVENUE                   481 non-null float64
TOTAL_EXPENDITURE               481 non-null float64
INSTRUCTION_EXPENDITURE         481 non-null float64
SUPPORT_SERVICES_EXPENDITURE    481 non-null float64
OTHER_EXPENDITURE               481 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      481 non-null float64
GRADES_PK_G                     532 non-null float64
GRADES_KG_G                     481 non-null float64
GRADES_4_G                      481 non-null float64
GRADES_8_G                      481 non-null float64
GRADES_12_G                     481 non-null float64
GRADES_1_8_G                    481 non-null float64
GRADES_9_12_G                   481 non-null float64
GRADES_ALL_G                    476 non-null float64
AVG_MATH_4_SCORE                532 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             522 non-null float64
AVG_READING_8_SCORE             478 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 104.2+ KB

In [13]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['GRADES_KG_G'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        ##NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["GRADES_KG_G"].fillna(states2.loc[x]["GRADES_KG_G"].mean(), inplace=True)

In [14]:
states2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 532 entries, (ALABAMA, 0) to (WYOMING, 25)
Data columns (total 24 columns):
PRIMARY_KEY                     532 non-null object
YEAR                            532 non-null int64
ENROLL                          439 non-null float64
TOTAL_REVENUE                   481 non-null float64
FEDERAL_REVENUE                 481 non-null float64
STATE_REVENUE                   481 non-null float64
LOCAL_REVENUE                   481 non-null float64
TOTAL_EXPENDITURE               481 non-null float64
INSTRUCTION_EXPENDITURE         481 non-null float64
SUPPORT_SERVICES_EXPENDITURE    481 non-null float64
OTHER_EXPENDITURE               481 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      481 non-null float64
GRADES_PK_G                     532 non-null float64
GRADES_KG_G                     532 non-null float64
GRADES_4_G                      481 non-null float64
GRADES_8_G                      481 non-null float64
GRADES_12_G                     481 non-null float64
GRADES_1_8_G                    481 non-null float64
GRADES_9_12_G                   481 non-null float64
GRADES_ALL_G                    476 non-null float64
AVG_MATH_4_SCORE                532 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             522 non-null float64
AVG_READING_8_SCORE             478 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 104.2+ KB

In [15]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['GRADES_4_G'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        ##NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["GRADES_4_G"].fillna(states2.loc[x]["GRADES_4_G"].mean(), inplace=True)

In [16]:
states2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 532 entries, (ALABAMA, 0) to (WYOMING, 25)
Data columns (total 24 columns):
PRIMARY_KEY                     532 non-null object
YEAR                            532 non-null int64
ENROLL                          439 non-null float64
TOTAL_REVENUE                   481 non-null float64
FEDERAL_REVENUE                 481 non-null float64
STATE_REVENUE                   481 non-null float64
LOCAL_REVENUE                   481 non-null float64
TOTAL_EXPENDITURE               481 non-null float64
INSTRUCTION_EXPENDITURE         481 non-null float64
SUPPORT_SERVICES_EXPENDITURE    481 non-null float64
OTHER_EXPENDITURE               481 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      481 non-null float64
GRADES_PK_G                     532 non-null float64
GRADES_KG_G                     532 non-null float64
GRADES_4_G                      532 non-null float64
GRADES_8_G                      481 non-null float64
GRADES_12_G                     481 non-null float64
GRADES_1_8_G                    481 non-null float64
GRADES_9_12_G                   481 non-null float64
GRADES_ALL_G                    476 non-null float64
AVG_MATH_4_SCORE                532 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             522 non-null float64
AVG_READING_8_SCORE             478 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 104.2+ KB

In [17]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['GRADES_8_G'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["GRADES_8_G"].fillna(states2.loc[x]["GRADES_8_G"].mean(), inplace=True)

In [18]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['GRADES_12_G'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["GRADES_12_G"].fillna(states2.loc[x]["GRADES_12_G"].mean(), inplace=True)

In [19]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['GRADES_1_8_G'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["GRADES_1_8_G"].fillna(states2.loc[x]["GRADES_1_8_G"].mean(), inplace=True)

In [20]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['GRADES_1_8_G'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["GRADES_1_8_G"].fillna(states2.loc[x]["GRADES_1_8_G"].mean(), inplace=True)

In [21]:

statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['GRADES_9_12_G'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["GRADES_9_12_G"].fillna(states2.loc[x]["GRADES_9_12_G"].mean(), inplace=True)

In [22]:
states2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 532 entries, (ALABAMA, 0) to (WYOMING, 25)
Data columns (total 24 columns):
PRIMARY_KEY                     532 non-null object
YEAR                            532 non-null int64
ENROLL                          439 non-null float64
TOTAL_REVENUE                   481 non-null float64
FEDERAL_REVENUE                 481 non-null float64
STATE_REVENUE                   481 non-null float64
LOCAL_REVENUE                   481 non-null float64
TOTAL_EXPENDITURE               481 non-null float64
INSTRUCTION_EXPENDITURE         481 non-null float64
SUPPORT_SERVICES_EXPENDITURE    481 non-null float64
OTHER_EXPENDITURE               481 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      481 non-null float64
GRADES_PK_G                     532 non-null float64
GRADES_KG_G                     532 non-null float64
GRADES_4_G                      532 non-null float64
GRADES_8_G                      532 non-null float64
GRADES_12_G                     532 non-null float64
GRADES_1_8_G                    532 non-null float64
GRADES_9_12_G                   532 non-null float64
GRADES_ALL_G                    476 non-null float64
AVG_MATH_4_SCORE                532 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             522 non-null float64
AVG_READING_8_SCORE             478 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 104.2+ KB

In [23]:
#Grades teki doldurmalar bitince, matematıksel formuluyle Grades_All u dolduruyoruz
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    states2.loc[x]["GRADES_ALL_G"]=states2.loc[x]["GRADES_9_12_G"]+states2.loc[x]["GRADES_1_8_G"]+states2.loc[x]["GRADES_PK_G"]

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [24]:
states2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 532 entries, (ALABAMA, 0) to (WYOMING, 25)
Data columns (total 24 columns):
PRIMARY_KEY                     532 non-null object
YEAR                            532 non-null int64
ENROLL                          439 non-null float64
TOTAL_REVENUE                   481 non-null float64
FEDERAL_REVENUE                 481 non-null float64
STATE_REVENUE                   481 non-null float64
LOCAL_REVENUE                   481 non-null float64
TOTAL_EXPENDITURE               481 non-null float64
INSTRUCTION_EXPENDITURE         481 non-null float64
SUPPORT_SERVICES_EXPENDITURE    481 non-null float64
OTHER_EXPENDITURE               481 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      481 non-null float64
GRADES_PK_G                     532 non-null float64
GRADES_KG_G                     532 non-null float64
GRADES_4_G                      532 non-null float64
GRADES_8_G                      532 non-null float64
GRADES_12_G                     532 non-null float64
GRADES_1_8_G                    532 non-null float64
GRADES_9_12_G                   532 non-null float64
GRADES_ALL_G                    532 non-null float64
AVG_MATH_4_SCORE                532 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             522 non-null float64
AVG_READING_8_SCORE             478 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 104.2+ KB

In [25]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['AVG_READING_4_SCORE'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["AVG_READING_4_SCORE"].fillna(states2.loc[x]["AVG_READING_4_SCORE"].mean(), inplace=True)

In [26]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['AVG_READING_8_SCORE'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
       #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["AVG_READING_8_SCORE"].fillna(states2.loc[x]["AVG_READING_8_SCORE"].mean(), inplace=True)

In [27]:
#Aslında Kaggle da ENROLL GRADES_ALL ile ilişkili demişti ama çok vakit kaybetmiyim daha fazla diye mean ile ortalama koydum
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['ENROLL'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
       #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["ENROLL"].fillna(states2.loc[x]["ENROLL"].mean(), inplace=True)

In [28]:
states2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 532 entries, (ALABAMA, 0) to (WYOMING, 25)
Data columns (total 24 columns):
PRIMARY_KEY                     532 non-null object
YEAR                            532 non-null int64
ENROLL                          532 non-null float64
TOTAL_REVENUE                   481 non-null float64
FEDERAL_REVENUE                 481 non-null float64
STATE_REVENUE                   481 non-null float64
LOCAL_REVENUE                   481 non-null float64
TOTAL_EXPENDITURE               481 non-null float64
INSTRUCTION_EXPENDITURE         481 non-null float64
SUPPORT_SERVICES_EXPENDITURE    481 non-null float64
OTHER_EXPENDITURE               481 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      481 non-null float64
GRADES_PK_G                     532 non-null float64
GRADES_KG_G                     532 non-null float64
GRADES_4_G                      532 non-null float64
GRADES_8_G                      532 non-null float64
GRADES_12_G                     532 non-null float64
GRADES_1_8_G                    532 non-null float64
GRADES_9_12_G                   532 non-null float64
GRADES_ALL_G                    532 non-null float64
AVG_MATH_4_SCORE                532 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             532 non-null float64
AVG_READING_8_SCORE             532 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 104.2+ KB

In [29]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['FEDERAL_REVENUE'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["FEDERAL_REVENUE"].fillna(states2.loc[x]["FEDERAL_REVENUE"].mean(), inplace=True)
        states2.loc[x]["STATE_REVENUE"].fillna(states2.loc[x]["STATE_REVENUE"].mean(), inplace=True)
        states2.loc[x]["LOCAL_REVENUE"].fillna(states2.loc[x]["LOCAL_REVENUE"].mean(), inplace=True)

In [30]:
#REVENUE doldurmaları bıtınce matematıksel formuluyle TOTAL REVENUE yu doldurdum
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    states2.loc[x]["TOTAL_REVENUE"]=states2.loc[x]["FEDERAL_REVENUE"]+states2.loc[x]["STATE_REVENUE"]+states2.loc[x]["LOCAL_REVENUE"]

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [31]:
states2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 532 entries, (ALABAMA, 0) to (WYOMING, 25)
Data columns (total 24 columns):
PRIMARY_KEY                     532 non-null object
YEAR                            532 non-null int64
ENROLL                          532 non-null float64
TOTAL_REVENUE                   532 non-null float64
FEDERAL_REVENUE                 532 non-null float64
STATE_REVENUE                   532 non-null float64
LOCAL_REVENUE                   532 non-null float64
TOTAL_EXPENDITURE               481 non-null float64
INSTRUCTION_EXPENDITURE         481 non-null float64
SUPPORT_SERVICES_EXPENDITURE    481 non-null float64
OTHER_EXPENDITURE               481 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      481 non-null float64
GRADES_PK_G                     532 non-null float64
GRADES_KG_G                     532 non-null float64
GRADES_4_G                      532 non-null float64
GRADES_8_G                      532 non-null float64
GRADES_12_G                     532 non-null float64
GRADES_1_8_G                    532 non-null float64
GRADES_9_12_G                   532 non-null float64
GRADES_ALL_G                    532 non-null float64
AVG_MATH_4_SCORE                532 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             532 non-null float64
AVG_READING_8_SCORE             532 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 104.2+ KB

In [32]:
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    if (states2.loc[x]['INSTRUCTION_EXPENDITURE'].isnull().sum()>=math.ceil(len(states2.loc[x])/2)):
        print("")
        #NUll sayısı azaldıgı için else girecekler bu tarafın içini tekrar yazmadım cok vakıt harcadıgım için
    else:
        states2.loc[x]["INSTRUCTION_EXPENDITURE"].fillna(states2.loc[x]["INSTRUCTION_EXPENDITURE"].mean(), inplace=True)
        states2.loc[x]["SUPPORT_SERVICES_EXPENDITURE"].fillna(states2.loc[x]["SUPPORT_SERVICES_EXPENDITURE"].mean(), inplace=True)
        states2.loc[x]["OTHER_EXPENDITURE"].fillna(states2.loc[x]["OTHER_EXPENDITURE"].mean(), inplace=True)
        states2.loc[x]["CAPITAL_OUTLAY_EXPENDITURE"].fillna(states2.loc[x]["CAPITAL_OUTLAY_EXPENDITURE"].mean(), inplace=True)

In [33]:
#EXPENDITURE doldurmaları bıtınce matematıksel formuluyle TOTAL EXPENDİTURE yu doldurdum
statelist2=states2.index.get_level_values(0).unique()
for x in statelist2:
    states2.loc[x]["TOTAL_EXPENDITURE"]=states2.loc[x]["INSTRUCTION_EXPENDITURE"]+states2.loc[x]["SUPPORT_SERVICES_EXPENDITURE"]+states2.loc[x]["OTHER_EXPENDITURE"]+states2.loc[x]["CAPITAL_OUTLAY_EXPENDITURE"]

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [34]:
states2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 532 entries, (ALABAMA, 0) to (WYOMING, 25)
Data columns (total 24 columns):
PRIMARY_KEY                     532 non-null object
YEAR                            532 non-null int64
ENROLL                          532 non-null float64
TOTAL_REVENUE                   532 non-null float64
FEDERAL_REVENUE                 532 non-null float64
STATE_REVENUE                   532 non-null float64
LOCAL_REVENUE                   532 non-null float64
TOTAL_EXPENDITURE               532 non-null float64
INSTRUCTION_EXPENDITURE         532 non-null float64
SUPPORT_SERVICES_EXPENDITURE    532 non-null float64
OTHER_EXPENDITURE               532 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      532 non-null float64
GRADES_PK_G                     532 non-null float64
GRADES_KG_G                     532 non-null float64
GRADES_4_G                      532 non-null float64
GRADES_8_G                      532 non-null float64
GRADES_12_G                     532 non-null float64
GRADES_1_8_G                    532 non-null float64
GRADES_9_12_G                   532 non-null float64
GRADES_ALL_G                    532 non-null float64
AVG_MATH_4_SCORE                532 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             532 non-null float64
AVG_READING_8_SCORE             532 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 104.2+ KB

In [35]:
states2.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,532.000000,5.320000e+02,5.320000e+02,5.320000e+02,5.320000e+02,5.320000e+02,5.320000e+02,5.320000e+02,5.320000e+02,5.320000e+02,...,532.000000,532.000000,532.000000,5.320000e+02,5.320000e+02,5.320000e+02,532.000000,532.000000,532.000000,532.000000
mean,2006.746241,9.417667e+05,9.816635e+06,8.639174e+05,4.547733e+06,4.404985e+06,9.510337e+06,5.142640e+06,2.895241e+06,5.074663e+05,...,71617.437466,71680.110995,62239.811512,5.768129e+05,2.791483e+05,8.766502e+05,234.834273,278.414711,218.881817,263.788362
std,7.336510,1.108895e+06,1.242968e+07,1.242849e+06,5.845530e+06,5.791699e+06,1.196859e+07,6.654167e+06,3.540774e+06,6.303945e+05,...,84231.906735,83167.198585,73428.313845,6.755377e+05,3.279130e+05,1.027856e+06,10.220427,10.159722,7.765652,6.498864
min,1992.000000,4.417900e+04,5.594810e+05,3.102000e+04,0.000000e+00,2.209300e+04,5.886360e+05,3.150090e+05,1.523400e+05,2.191000e+04,...,3423.000000,2860.000000,2188.000000,2.676200e+04,9.970000e+03,3.682300e+04,187.134670,232.831510,178.557612,236.379102
25%,2003.000000,2.781248e+05,2.460804e+06,2.171735e+05,1.293542e+06,7.702405e+05,2.332072e+06,1.283798e+06,7.349245e+05,1.302185e+05,...,20509.250000,20820.000000,18481.500000,1.663668e+05,8.091225e+04,2.593720e+05,229.809172,272.761598,214.797560,260.317534
50%,2007.000000,6.648824e+05,5.555203e+06,4.819010e+05,2.812872e+06,2.230416e+06,5.578524e+06,2.874852e+06,1.658264e+06,3.286505e+05,...,50503.000000,49812.000000,40551.500000,4.051395e+05,1.844455e+05,6.166897e+05,237.280467,280.618803,220.411263,264.888124
75%,2013.000000,1.020749e+06,1.121264e+07,9.413271e+05,5.687276e+06,4.968687e+06,1.062977e+07,5.746602e+06,3.334688e+06,5.770195e+05,...,79244.000000,80776.000000,73267.000000,6.388180e+05,3.172598e+05,9.685105e+05,242.011959,285.347428,224.005309,267.926806
max,2017.000000,6.307022e+06,7.824804e+07,9.990221e+06,4.236047e+07,3.494151e+07,7.258200e+07,4.195426e+07,2.350185e+07,4.258984e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.011865e+06,5.926631e+06,253.420961,300.568235,236.773867,280.499130